
.go-cards-sm {
	height:100%;
	
	position:relative;
	overflow: hidden;
	@media screen and (max-width: $screen-sm-max) { /*991px*/
		.go-card {
				position:absolute;
				top:0;
				left:0;
				right:0;
				bottom: 0;

				transform: translateX(100%);

				&.go-active {
					transform: translateX(0);
				}
		}
	}	
}