@charset "UTF-8";


$font-size: 7.5px;
$baseline-grid:            6px;
$button-left-right-padding: $baseline-grid;
$toolbar-tools-height: 48px;

$card-padding: 2*$baseline-grid;

$button-min-width: $font-size * 5;

@import "../../../bower_components/angular-material/modules/scss/angular-material.scss"; // remove font-size in rem function

@import "colors";
@import "config";
@import 'angular';
@import "defaults";
@import "utils";
@import "table";
@import "_material-design-icons"; 
@import "mdi"; 
@import "layout";
@import "form";
@import "list";
@import "_ng-sortable.scss";
@import "_material-overrides.scss";

/*@import "_ng-sortable.scss";*/
@import "cards";




