md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
	margin-top: 4px; 
  margin-bottom: 6px; 
}

md-tooltip .md-content {
	font-size: rem(1.4);
  height: auto;
}


.md-chips .md-chip-input-container {
    width: 100%;
}

.md-chips .md-chip-input-container md-autocomplete md-autocomplete-wrap {
    width: 100%;
}


@media (min-width:$screen-desktop) {
	md-input-container {
    /*margin-bottom: 2px; cuases buttons to misalign*/
		
		.md-errors-spacer {
			min-height: 18px;
		}
	}
	
}



md-card .md-actions, md-card md-card-actions {
    margin: 14px;
}

md-card-content {
	.md-button {
			margin-left: 0px;
	}
}