<form layout="column" name="accountForm" go-submit="save()" go-server-errors="model.adaptor.validationErrors">


	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button type="button" class="md-icon-button" ng-click="cancel()">
				<md-tooltip>{{::"Close"| goT}}</md-tooltip>
				<md-icon>close</md-icon>
			</md-button>

			<h1 flex>{{::"GO\\Modules\\GroupOffice\\Imap\\Model\\Account"| goT}}</h1>

			<md-button type="submit" class="md-icon-button">
				<md-tooltip>{{::"Save"| goT}}</md-tooltip>
				<md-icon>check</md-icon>
			</md-button>

		
		</div>
	</md-toolbar>

	<md-content flex>
		<fieldset>

			<h3>{{::"Incoming server"| goT}} (IMAP)</h3>

			<div layout="row">
				<md-input-container flex>
					<md-icon>computer</md-icon>
					<label>{{::"Hostname"| goT}}</label>
					<input type="text" name="hostname" ng-model="model.adaptor.hostname" required go-autofocus />
					<div ng-messages="accountForm.hostname.$error" role="alert">
						<div ng-message="required">
							{{::"This field is required"| goT}}
						</div>
						
						<div ng-message="9">
							{{::"Could not connect to server"| goT}}
						</div>
					</div>
				</md-input-container>

				<md-input-container style="width:100px">
					<label>{{::"Encryption"| goT}}</label>

					<md-select ng-model="model.adaptor.encryption">
						<md-option value="tls" >TLS</md-option>
						<md-option value="ssl" >SSL</md-option>
						<md-option ng-value="null" >{{::"None"| goT}}</md-option>
					</md-select>
				</md-input-container>

				<md-input-container style="width:100px">
					<label>{{::"Port"| goT}}</label>
					<input name="port" ng-model="model.adaptor.port" required go-number />					
				</md-input-container>
			</div>


			<div layout="row">
				<md-input-container flex>
					<md-icon>person</md-icon>
					<label>{{::"Username"| goT}}</label>
					<input type="text" name="username" ng-model="model.adaptor.username" required autocomplete="off" />					
				</md-input-container>

				<md-input-container flex>
					<label>{{::"Password"| goT}}</label>
					<input type="password" name="password" ng-model="model.adaptor.password" ng-required="model.adaptor.isNew()" autocomplete="off"/>
					
					<div ng-messages="accountForm.password.$error" role="alert">
					<div ng-message="required">{{"This field is required"| goT}}</div>
					<div ng-message="10">{{"Authentication failed" | goT}}</div>					
				</div>
				</md-input-container>
			</div>


		</fieldset>

		<fieldset>

			<h3>{{::"Outgoing server"| goT}} (SMTP)</h3>
			<md-input-container class="md-icon-left">
				<md-icon>send</md-icon>
				<label>{{::'SMTP account' | goT}}</label>
				<go-select-account go-on-add="addSmtpAccount()" go-capability="GO\Core\Email\Model\Message" ng-model="model.adaptor.smtpAccountId"></go-select-account>
			</md-input-container>

<!--			<md-input-container class='md-block'>
				<md-icon>email</md-icon>
				<label>{{::"E-mail address"| goT}}</label>

				<input type="email" name="fromEmail" ng-model="model.adaptor.smtpAccount.fromEmail" required />

			</md-input-container>

			<md-input-container class='md-block'>
				<md-icon>person</md-icon>
				<label>{{::"Sender name"| goT}}</label>
				<input type="input"  name="fromName" ng-model="model.adaptor.smtpAccount.fromName" required />

			</md-input-container>

			<div layout="row">
				<md-input-container flex>
					<md-icon>computer</md-icon>
					<label>{{::"Hostname"| goT}}</label>
					<input type="text" name="smtphostname" ng-model="model.adaptor.smtpAccount.hostname" required />

				</md-input-container>

				<md-input-container style="width:100px">
					<label>{{::"Encryption"| goT}}</label>
					<md-select ng-model="model.adaptor.smtpAccount.encryption">
						<md-option value="tls" >TLS</md-option>
						<md-option value="ssl" >SSL</md-option>
						<md-option ng-value="null" >{{::"None"| goT}}</md-option>
					</md-select>
				</md-input-container>

				<md-input-container style="width:100px">
					<label>{{::"Port"| goT}}</label>
					<input name="smtpport" ng-model="model.adaptor.smtpAccount.port" required go-number />					
				</md-input-container>
			</div>

			<div layout="row">
				<md-input-container flex>
					<md-icon>person</md-icon>
					<label>{{::"Username"| goT}}</label>
					<input type="text" name="smtpusername" ng-model="model.adaptor.smtpAccount.username" required autocomplete="off" />
				</md-input-container>

				<md-input-container flex>
					<label>{{::"Password"| goT}}</label>
					<input type="password" name="smtppassword" ng-model="model.adaptor.smtpAccount.password" ng-required="model.adaptor.isNew()" autocomplete="off"/>
				</md-input-container>
			</div>-->
		</fieldset>


		<fieldset>
			<go-multiple title="Signatures" go-models="model.adaptor.signatures" go-add-model="{}">
				<div layout="column" flex style="margin-bottom:32px">
					<md-input-container>						
						<label>{{::"Name"| goT}}</label>
						<input type="text"  ng-model="model.name" go-autofocus="$index > 0 && !model.adaptor.id">
					</md-input-container>					
					<go-wysiwyg ng-model="model.signature" on-image-paste="viewScope.onImagePaste(dataURL, editor)"></go-wysiwyg>			

					<md-divider></md-divider>
				</div>

			</go-multiple>
		</fieldset>
	</md-content>

</form> 
