

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button hide-gt-sm" ng-click="$state.go('^')">
				<md-icon>chevron_left</md-icon>
			</md-button>

			<span flex>
				{{fieldsetRec.name}}
			</span>

		</div>



	</md-toolbar>

	<go-list store="fieldsStore" virtual="false" as-sortable="dragControlListeners" ng-model="fieldsStore.items">

		<item  class="md-2-line" as-sortable-item>
			<md-icon aria-label="{{model.name}}">{{model.getIcon()}}</md-icon>
			<div class="md-list-item-text">
				<h3>{{model.name}}</h3>
				<p>{{model.type}}</p>
			</div>
			
			<go-list-edit-button on-edit="editField(model)" class="md-secondary"></go-list-edit-button>
			<go-list-delete-button class="md-secondary"></go-list-delete-button>
			
			<md-button class="md-icon-button md-secondary"  as-sortable-item-handle>
				<md-icon>
					drag_handle
				</md-icon>
				<md-tooltip>
					{{"Drag to reorder"| goT}}
				</md-tooltip>
			</md-button>
		</item>

		<empty-state>
			<md-icon class="mdi-textbox"></md-icon>
			<p>{{"No fields found"| goT}}</p>
		</empty-state>

	</go-list>


	<md-fab-speed-dial md-direction="up" class="md-fling md-fab-bottom-right" ng-cloak>
		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab">
				<md-icon>add</md-icon>
				<md-tooltip md-direction="left">{{"Add"| goT}}</md-tooltip>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>
			<div ng-repeat="fieldType in ::customFieldTypes" ng-cloak>

				<md-button  class="md-fab md-mini" ng-click="editField(false, {type: fieldType.value})">
					<md-icon>{{::fieldType.icon}}</md-icon>
					<md-tooltip md-direction="left">{{::fieldType.label| goT}}</md-tooltip>
				</md-button>

			</div>
		</md-fab-actions>
	</md-fab-speed-dial>

