
go-date-picker {
	min-width: 330px;
  display: block;
	
	margin: 18px 0;
	
	md-input-container {
		margin:0;
	}
	
/*	margin-bottom: 22px;
	
	@media (min-width:$screen-desktop) {
		margin-bottom: 16px;
	}
		*/
/*	* {
		display: inline-block;
	}*/
	
	&.ng-invalid {
		
		&.ng-touched, .ng-submitted & {
			color: rgb(221,44,0);

			.md-select-value {
				border-bottom-color: rgb(221,44,0) !important;
			}
			
			label {
				color: rgb(221,44,0);
			}
		}
	}
	

/*	md-input-container {
		margin-bottom: 2px;
	}*/
	
	.year {
		width: 140px; //for error?
	}
	.month {
		/*width: 100px;*/
	}
	.day {
		
	}

	.ng-messages {
		display: none;		
	}
	
	
	&.ng-touched , .ng-submitted &  {
		.ng-messages {
			display: block;
			color: rgb(221,44,0);
			margin-left: 36px;
		}
	}
}