.go-info-panel {
	position:relative;
	display:block;
	overflow: hidden;
	height: 100%;
	background-color: #f1f1f1;
	md-tabs {
		border-bottom: 1px solid $border-color;
		background-color: white;
	}
	a {
		color: $font-color;
	}
	
	//hide dividers on empty lists and offset it for the icon
	/*	md-divider {
			margin-left: 72px;

			@media (min-width:$screen-desktop) {
				margin-left: 56px;
			}

			&:only-child {
				display: none;
			}
		}*/
	
	md-card {
		 md-card-content {
			padding-top: 0;
			
		}
	}
	
/*	
doesn't work to fix scroll problem
md-content {
		>*{
			&:last-child {
				margin-bottom: 200px;
			}
		}
	}*/
}


.go-logo {
	height: 128px;
	padding: 20px;
	
	img {

	}
}




.go-attachments {
	padding: 12px 0;
	.attachment{
		height: 24px;
		md-icon {
			margin:0;
			padding:0;
			width:16px;			
			vertical-align: middle;
			line-height: 24px;
			height: 24px;
		}
		margin-right: 20px;
		display: inline-block;	
		white-space: nowrap;
		strong{
			height: 24px;			
			line-height: 24px;
			vertical-align: middle;
			display: inline-block;
			font-weight: normal;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: 6px;
		}
		
		.cancel {
			cursor: pointer;
		}
	}
}



.go-settings-navigation {
	
	@media(min-width: $screen-md-min) {
		width: 300px;
	}
	
	position: relative;
	border-right: 1px solid $border-color;
}

.go-settings-card-panel{
	min-height:200px;
	position:relative;
}



.go-display-panel-header {
	
	margin-top: -12px;
	
	transition: all .5s;
	opacity: 1;
	
	padding: 16px;
	
	.go-avatar, > md-icon{
		margin: 0px 32px 0px 16px;
		
		@media (min-width:$screen-desktop) {
			margin: 0px 24px 0px 8px;
		}
	}
	
	> md-icon {
		font-size:2em; 
		width: 2em;
		height:2em;;
		line-height: 2em;
		text-align:center;
	}
	
	.header-icon {
		font-size: 3rem;
		height:100%;
	}
}