bower_components
node_modules
nbproject/private
app/css/*.css
app/css/*.map
app/.sass-cache
build/*
/app/build/
/app/config.js
/app/resources/custom/*

# Ignore vendor folders except the standard one
app/modules/*
!app/modules/groupoffice
!app/modules/tutorial
