.unseen {
	h4 {
		font-weight: bold !important;
	}
}


.messages-message{

	.body, .quote {
		//white-space: pre-wrap;
		word-wrap: break-word;
	}

	position: relative;

	&.from-you{
		background-color: #DCEDC8;
	}

	.em-show-quote{

		position:absolute;
		right:10px;
		bottom: 10px;
	}

	.to {
		color: $color-small;
	}

	.date{
		text-align:right;
		font-size: 0.8em;
		padding-top: 10px;
		margin-right: 20px;
		margin-bottom: -10px;
		font-style: italic;
	}
	
	.body {
		a {
			color: #0e9cc5;
			text-decoration: underline;
		}
	}
}


.messages-thread {
	md-toolbar {
		border-bottom: 1px solid $border-color;
	}
}
