.unseen {
	h4 {
		font-weight: bold !important;
	}
}


.filtercollection {
	.TypeFilter-incoming:before {
		content: 'inbox';
	}
	.TypeFilter-unread:before {
		content: 'email';
	}

	.TypeFilter-flagged:before{
		content: 'flag';
	}

	.TypeFilter-actioned:before{
		content: 'folder';
	}


	.TypeFilter-sent:before{
		content: 'send';
	}

	.TypeFilter-trash:before{
		content: 'delete';
	}

	.TypeFilter-junk:before{
		content: "report";
	}


	.AccountFilter:before {
		content: 'email';
	}

}



.messages-message{

	.body, .quote {
		//white-space: pre-wrap;
		word-wrap: break-word;
	}

	position: relative;

	&.from-you{
		background-color: #DCEDC8;
	}

	.em-show-quote{

		position:absolute;
		right:10px;
		bottom: 10px;
	}

	.to {
		color: $color-small;
	}

	.date{
		text-align:right;
		font-size: 0.8em;
		padding-top: 10px;
		margin-right: 20px;
		margin-bottom: -10px;
		font-style: italic;
	}
}


.messages-thread {
	md-toolbar {
		border-bottom: 1px solid $border-color;
	}
}
