#launchpad {
	position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(255,255,255,0.5);

	.padder{
		width: 100%;
		height: 100%;
		padding: 10%;
		overflow-y:auto;
	}




}

.go-launchpad {
	margin-left: -14px !important;
	/*	.md-button.md-icon-button {
			margin: 0;
		}*/
}



	.go-launcher {
		float:left;
		margin: 16px;
		display: table-cell;
		text-align: center;

		.title{
			color:black;
			z-index:101;
			text-align: center;
			padding:6px;
		}


		.md-button.md-fab {
			/*line-height: 48px;*/
			font: normal normal normal 4em/1 "Material Design Icons";
			min-width: 0;
			width: 6rem;
			height: 6rem;
			border-radius: 50%;
			opacity: 1;
		}
	}