<div class="go-cards-sm" flex layout="row" style="top:0;bottom:0;left:0;right:0;position:absolute;">

	<div class="go-card go-list" layout="column" ng-class="{'go-active' : $state.is('events')}">
		<go-list-toolbar class="md-hue-1" store="searchStore">
			<go-tools class="md-toolbar-tools">
			<span flex></span>
			<go-search-button></go-search-button>
			</go-tools>

		</go-list-toolbar>

		<md-list store="searchStore" class="go-search-events">

			<md-list-item ng-repeat="e in searchStore.items" class="md-2-line"
							  ng-class="classFor(e)" ng-click="selectEvent(e,true)" ng-style="color(calendars[e.calendarId])">
				<div class="md-list-item-text" layout="column">
				<h3><md-icon ng-if="e.event.isRecurring">refresh</md-icon> {{e.event.title}}</h3>
				<h4><span ng-if="!e.event.allDay">{{e.$start.getTimeString()}} &mdash; {{e.$end.getTimeString()}}</span>
					<span ng-if="e.event.location">at {{e.event.location}}</span></h4>
				</div>
			</md-list-item>

		</md-list>



		<div class="go-fab-list" ng-cloak>
			<md-fab-speed-dial md-direction="up" class="md-fling">
				<md-fab-trigger>
					<md-button aria-label="menu" class="md-fab">
						<md-icon>add</md-icon>
						<md-tooltip md-direction="left">{{"Add"| goT}}</md-tooltip>
					</md-button>
				</md-fab-trigger>
				<md-fab-actions>
					<md-button aria-label="Event" class="md-fab md-mini" ng-click="openEventDialog()">
						<md-icon aria-label="Event" class="mdi-calendar"></md-icon>
						<md-tooltip md-direction="left">{{"Event"| goT}}</md-tooltip>
					</md-button>
				</md-fab-actions>
			</md-fab-speed-dial>
		</div>
	</div>

	<div flex ui-view layout="row" class="go-card go-info-panel" ng-class="{'go-active' : !$state.is('events')}"></div>
</div>
