.go-notifications {
	/*display:none;*/

	max-height: 400px;
	width: 400px;
/*	border: 1px solid $border-color;
	background-color: white;*/
	
	.go-notifications-toolbar {
		padding: 4px 8px;
	}
}

go-notifications-button {
	height: 100%;	
	div {
		height: 100%;	
	}
}


.unseen h3 {
	font-weight: bold !important;
}

