angular.module('GO')
				.constant('GO.Config', {
					APIUrl: '/api',
				// helpUrl: 'http://www.group-office.com',
					//logo: 'resources/custom/some-logo.svg',
					//shortCutIcon: 'resources/custom/icon.ico',
					//language : 'en', //Don't set to use browser language
					title: 'Group Office'
				});


// .config(['$mdThemingProvider', function ($mdThemingProvider) {
//
//						var customGreenMap = $mdThemingProvider.extendPalette('green', {
//							'contrastDefaultColor': 'light',
//							'contrastDarkColors': ['50'],
//							'50': 'ffffff'
//						});
//						$mdThemingProvider.definePalette('customGreen', customGreenMap);
//
//						$mdThemingProvider.theme('default')
//										.primaryPalette('customGreen', {
//											'default': '700',
//											'hue-1': '50'
//										})
//										.accentPalette('deep-orange', {
//											'default': '700'
//										});
//
//					}]);
