angular.module('GO')
				.constant('GO.Config', {
					APIUrl: '/api',
					//logo: 'resources/custom/some-logo.svg',
					//shortCutIcon: 'resources/custom/icon.ico',
					//language : 'en', //Don't set to use browser language
					title: 'Group Office'
				});
