<!doctype html>
<html lang="en" ng-app="GO"  ng-strict-di>
	<head>
		<!--<base href="/groupoffice-webclient/app/">-->
		
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		<meta charset="utf-8">		
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">

		
		<title ng-bind="title">Loading...</title>



		<link rel="shortcut icon" type="image/x-icon" ng-href="{{::shortCutIcon}}">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

		<!-- build:css css/app.css -->
		<!--<link href="../bower_components/angular-material/angular-material.css" rel="stylesheet" type="text/css"/>-->
		<!--<link href="core/resources/iconfont/material-icons.css" rel="stylesheet" type="text/css"/>-->
		
		
		<link href="../bower_components/angular-material-datetimepicker/css/material-datetimepicker.css" rel="stylesheet" type="text/css"/>
		<link href="./core/components/mdpickers/mdPickers.css" rel="stylesheet" type="text/css"/>
		<!--<link href="../bower_components/chartist/dist/chartist.css" rel="stylesheet" type="text/css"/>-->
		<link rel="stylesheet" href="css/app.css">
		<!-- endbuild -->
		
		<link ng-href="{{::APIUrl}}/webclient/custom.css" rel="stylesheet" type="text/css"/>
		
	</head>
	<body ng-cloak>	
		<div class="go-header" ng-if="::loggedIn" ng-controller="GO.Controllers.HeaderController">
			<go-launchpad show="showLaunchpad"></go-launchpad>

			<md-toolbar>
				<div class="md-toolbar-tools">

					<md-button class="md-icon-button" ng-click="toggleLaunchpad()" ng-if="::loggedIn" accesskey="z">
						<md-icon aria-label="Menu">apps</md-icon>
						<md-tooltip>{{::"Launchpad"| goT}} (Alt + Z)</md-tooltip>
					</md-button>		

					<h1 ng-bind="appTitle"></h1>
					<span flex></span>

					<md-button ng-if="!!helpUrl" ng-click="openHelp()"><md-icon>help</md-icon></md-button>

					<go-notifications-button></go-notifications-button>

					<md-button class="md-icon-button" ng-click="$state.go('settings.accounts');">
						<md-icon aria-label="Settings">settings</md-icon>
						<md-tooltip>{{::"Settings"| goT}}</md-tooltip>
					</md-button>

					<md-button class="md-icon-button" ng-click="user.logout();">
						<md-icon aria-label="Logout">exit_to_app</md-icon>
						<md-tooltip>{{::"Logout"| goT}}</md-tooltip>
					</md-button>
				</div>
			</md-toolbar>
		</div>

	<div id="go-container" ui-view>

		
		
	</div>


	<!-- use ngIf because progress widgets consume power when hidden -->
	<go-mask ng-cloak ng-if="showMask">
		<md-card>
			<md-card-content>				
				<p>{{maskText|| "Loading"}}</p>
				<md-progress-linear mode="intermediate"></md-progress-linear>
			</md-card-content>
		</md-card>
	</go-mask>
	
	
	<go-notifications-panel></go-notifications-panel>

	<!-- build:js js/app.js -->
	<script src="../bower_components/wysihtml/dist/wysihtml-toolbar.js" type="text/javascript"></script>
	<!--<script src="../bower_components/fastclick/lib/fastclick.js" type="text/javascript"></script>-->

	<script src="../bower_components/angular/angular.js"></script>		
	<script src="../bower_components/moment/moment.js" type="text/javascript"></script>
	<script src="../bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
	<script src="../bower_components/angular-material/angular-material.js" type="text/javascript"></script>
<!--	<script src="../bower_components/ag-grid/dist/angular-grid.js" type="text/javascript"></script>-->
	<!--<script src="../bower_components/ng-multi-transclude/src/multi-transclude.js" type="text/javascript"></script>-->
	<script src="../bower_components/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>
	<script src="../bower_components/angular-messages/angular-messages.js" type="text/javascript"></script>
	<script src="../bower_components/angular-i18n/angular-locale_nl-nl.js" type="text/javascript"></script>
	<script src="../bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
	<script src="../bower_components/angular-ui-router/release/angular-ui-router.js" type="text/javascript"></script>
	<script src="../bower_components/ng-flow/dist/ng-flow-standalone.js" type="text/javascript"></script>
	<script src="../bower_components/ng-sortable/dist/ng-sortable.js" type="text/javascript"></script>
	<script src="../bower_components/chartist/dist/chartist.js" type="text/javascript"></script>
	<script src="../bower_components/angular-chartist/angular-chartist.js" type="text/javascript"></script>
	<script src="../node_modules/chartist-plugin-legend/chartist-plugin-legend.js" type="text/javascript"></script>
	<script src="./core/go.js"></script>
	
	<!-- inject:js -->
  <script src="core/0-init.js"></script>
  <script src="core/templates.js"></script>
  <script src="controller/0-common.js"></script>
  <script src="controller/accounts-controller.js"></script>
  <script src="controller/change-password-controller.js"></script>
  <script src="controller/core-settings-controller.js"></script>
  <script src="controller/create-account-controller.js"></script>
  <script src="controller/header-controller.js"></script>
  <script src="controller/install.js"></script>
  <script src="controller/login-controller.js"></script>
  <script src="controller/reset-password.js"></script>
  <script src="controller/settings-controller.js"></script>
  <script src="core/extensions/date-object.js"></script>
  <script src="core/directives/hook-directive.js"></script>
  <script src="core/directives/infinite-scroll-directive.js"></script>
  <script src="core/directives/store.js"></script>
  <script src="core/factories/http-status-interceptor.js"></script>
  <script src="core/filters/age-filter.js"></script>
  <script src="core/filters/api-url.js"></script>
  <script src="core/filters/boolean-filter.js"></script>
  <script src="core/filters/bytes-filter.js"></script>
  <script src="core/filters/dateinterval-filter.js"></script>
  <script src="core/filters/encode-uri-component-filter.js"></script>
  <script src="core/filters/nl2br-filter.js"></script>
  <script src="core/filters/translate-filter.js"></script>
  <script src="core/providers/translate.js"></script>
  <script src="core/language/de.js"></script>
  <script src="core/language/en.js"></script>
  <script src="core/language/fr.js"></script>
  <script src="core/language/gr.js"></script>
  <script src="core/language/hu.js"></script>
  <script src="core/language/languages.js"></script>
  <script src="core/language/nl.js"></script>
  <script src="core/language/pl.js"></script>
  <script src="core/language/ro.js"></script>
  <script src="core/services/account-sync.js"></script>
  <script src="core/services/application.js"></script>
  <script src="core/services/client-modules.js"></script>
  <script src="core/services/current-user.js"></script>
  <script src="core/services/dispatcher.js"></script>
  <script src="core/services/mask-service.js"></script>
  <script src="core/services/server-api.js"></script>
  <script src="core/components/comments/comment.js"></script>
  <script src="core/components/comments/component.js"></script>
  <script src="core/components/custom-filters/component.js"></script>
  <script src="core/components/mailto/component.js"></script>
  <script src="core/components/emailtemplate/component.js"></script>
  <script src="core/components/emailtemplate/edit-controller.js"></script>
  <script src="core/components/mdpickers/mdPickers.js"></script>
  <script src="core/components/pdftemplate/component.js"></script>
  <script src="core/components/pdftemplate/edit-controller.js"></script>
  <script src="core/components/select-owner/component.js"></script>
  <script src="core/components/selectaccount/component.js"></script>
  <script src="core/components/selectpdftemplate/component.js"></script>
  <script src="core/directives/aside/aside.js"></script>
  <script src="core/directives/custom-fields/custom-fields-detail-directive.js"></script>
  <script src="core/directives/custom-fields/custom-fields-edit-directive.js"></script>
  <script src="core/directives/custom-fields/custom-fields-filter-directive.js"></script>
  <script src="core/directives/custom-fields/custom-fields-service.js"></script>
  <script src="core/directives/files/files-directive.js"></script>
  <script src="core/directives/filtercollection/filtercollection-directive.js"></script>
  <script src="core/directives/filtercollection/filtercollection-factory.js"></script>
  <script src="core/directives/filter/filter-directive.js"></script>
  <script src="core/directives/form/autofocus-directive.js"></script>
  <script src="core/directives/form/autoselect-directive.js"></script>
  <script src="core/directives/form/full-name-validator.js"></script>
  <script src="core/directives/form/match-directive.js"></script>
  <script src="core/directives/form/server-errors.js"></script>
  <script src="core/directives/launchpad/launchpad-directive.js"></script>
  <script src="core/directives/list/list-delete-button.js"></script>
  <script src="core/directives/list/list-directive.js"></script>
  <script src="core/directives/list/list-edit-button.js"></script>
  <script src="core/directives/list-tags/list-tags-directive.js"></script>
  <script src="core/directives/list-toolbar/list-toolbar-directive.js"></script>
  <script src="core/directives/list-toolbar/order-button.js"></script>
  <script src="core/directives/list-toolbar/search-button.js"></script>
  <script src="core/directives/mask/mask-directive.js"></script>
  <script src="core/directives/scroll-class/scroll-class-directive.js"></script>
  <script src="core/directives/share/share-directive.js"></script>
  <script src="core/directives/toggle/toggle-directive.js"></script>
  <script src="core/directives/ui-router/ui-sref-focus-directive.js"></script>
  <script src="core/factories/data/model.js"></script>
  <script src="core/factories/data/resource.js"></script>
  <script src="core/factories/data/store.js"></script>
  <script src="core/factories/models/account.js"></script>
  <script src="core/factories/models/module.js"></script>
  <script src="core/factories/models/tag.js"></script>
  <script src="core/factories/util/duration.js"></script>
  <script src="core/services/dialog/dialog-service.js"></script>
  <script src="modules/groupoffice/announcements/module.js"></script>
  <script src="modules/groupoffice/calendar/module.js"></script>
  <script src="modules/groupoffice/contacts/module.js"></script>
  <script src="modules/groupoffice/cron/module.js"></script>
  <script src="modules/groupoffice/customfields/module.js"></script>
  <script src="modules/groupoffice/dashboard/module.js"></script>
  <script src="modules/groupoffice/dav/module.js"></script>
  <script src="modules/groupoffice/files/module.js"></script>
  <script src="modules/groupoffice/icalendar/module.js"></script>
  <script src="modules/groupoffice/imap/module.js"></script>
  <script src="modules/groupoffice/log/module.js"></script>
  <script src="modules/groupoffice/messages/module.js"></script>
  <script src="modules/groupoffice/modules/module.js"></script>
  <script src="modules/groupoffice/notifications/module.js"></script>
  <script src="modules/groupoffice/smtp/module.js"></script>
  <script src="modules/groupoffice/tasks/module.js"></script>
  <script src="modules/groupoffice/users/module.js"></script>
  <script src="modules/instructiefilm/elearning/module.js"></script>
  <script src="modules/tutorial/bands/module.js"></script>
  <script src="modules/tutorial/contacts/hooks.js"></script>
  <script src="core/components/tags/display/component.js"></script>
  <script src="core/components/tags/filter/component.js"></script>
  <script src="core/components/tags/select/component.js"></script>
  <script src="core/directives/files/model/File.js"></script>
  <script src="core/directives/form/dateinterval/dateinterval-directive.js"></script>
  <script src="core/directives/form/datepicker/datepicker.js"></script>
  <script src="core/directives/form/datetimeinput/directive.js"></script>
  <script src="core/directives/form/image-upload/image-upload-directive.js"></script>
  <script src="core/directives/form/multiple/multiple.js"></script>
  <script src="core/directives/form/number/number-directive.js"></script>
  <script src="core/directives/form/single-upload/single-upload-directive.js"></script>
  <script src="core/directives/form/timepicker/timepicker-directive.js"></script>
  <script src="core/directives/form/wysiwyg/advanced_and_extended.js"></script>
  <script src="core/directives/form/wysiwyg/image-paster-service.js"></script>
  <script src="core/directives/form/wysiwyg/wysihtm5-override.js"></script>
  <script src="core/directives/form/wysiwyg/wysiwyg-directive.js"></script>
  <script src="core/factories/models/templates/message.js"></script>
  <script src="core/factories/models/templates/pdf.js"></script>
  <script src="modules/groupoffice/announcements/controller/announcement-controller.js"></script>
  <script src="modules/groupoffice/announcements/controller/announcement-edit-controller.js"></script>
  <script src="modules/groupoffice/announcements/model/announcement.js"></script>
  <script src="modules/groupoffice/announcements/services/announcement-editor-service.js"></script>
  <script src="modules/groupoffice/calendar/directives/listview.js"></script>
  <script src="modules/groupoffice/calendar/directives/monthview.js"></script>
  <script src="modules/groupoffice/calendar/directives/weekview.js"></script>
  <script src="modules/groupoffice/calendar/directives/yearview.js"></script>
  <script src="modules/groupoffice/calendar/controller/account-form.js"></script>
  <script src="modules/groupoffice/calendar/controller/event-form.js"></script>
  <script src="modules/groupoffice/calendar/controller/event.js"></script>
  <script src="modules/groupoffice/calendar/controller/main.js"></script>
  <script src="modules/groupoffice/calendar/controller/recurrence-form.js"></script>
  <script src="modules/groupoffice/calendar/models/calendar-event.js"></script>
  <script src="modules/groupoffice/calendar/models/calendar.js"></script>
  <script src="modules/groupoffice/calendar/models/current-date.js"></script>
  <script src="modules/groupoffice/calendar/models/period-store.js"></script>
  <script src="modules/groupoffice/contacts/controller/account-edit.js"></script>
  <script src="modules/groupoffice/contacts/controller/contact-edit.js"></script>
  <script src="modules/groupoffice/contacts/controller/contact.js"></script>
  <script src="modules/groupoffice/contacts/controller/edit-multiple.js"></script>
  <script src="modules/groupoffice/contacts/controller/main.js"></script>
  <script src="modules/groupoffice/contacts/controller/settings.js"></script>
  <script src="modules/groupoffice/contacts/controller/share.js"></script>
  <script src="modules/groupoffice/contacts/language/de.js"></script>
  <script src="modules/groupoffice/contacts/language/en.js"></script>
  <script src="modules/groupoffice/contacts/language/fr.js"></script>
  <script src="modules/groupoffice/contacts/language/gr.js"></script>
  <script src="modules/groupoffice/contacts/language/hu.js"></script>
  <script src="modules/groupoffice/contacts/language/nl.js"></script>
  <script src="modules/groupoffice/contacts/language/pl.js"></script>
  <script src="modules/groupoffice/contacts/language/ro.js"></script>
  <script src="modules/groupoffice/contacts/model/account.js"></script>
  <script src="modules/groupoffice/contacts/model/contact-group.js"></script>
  <script src="modules/groupoffice/contacts/model/contact.js"></script>
  <script src="modules/groupoffice/contacts/services/contact-editor-service.js"></script>
  <script src="modules/groupoffice/contacts/services/contact-labels-service.js"></script>
  <script src="modules/groupoffice/contacts/translate/en.js"></script>
  <script src="modules/groupoffice/cron/controller/edit.js"></script>
  <script src="modules/groupoffice/cron/controller/main.js"></script>
  <script src="modules/groupoffice/cron/language/de.js"></script>
  <script src="modules/groupoffice/cron/language/fr.js"></script>
  <script src="modules/groupoffice/cron/language/gr.js"></script>
  <script src="modules/groupoffice/cron/language/hu.js"></script>
  <script src="modules/groupoffice/cron/language/nl.js"></script>
  <script src="modules/groupoffice/cron/language/pl.js"></script>
  <script src="modules/groupoffice/cron/language/ro.js"></script>
  <script src="modules/groupoffice/cron/model/job.js"></script>
  <script src="modules/groupoffice/customfields/controller/field-controller.js"></script>
  <script src="modules/groupoffice/customfields/controller/field-set-controller.js"></script>
  <script src="modules/groupoffice/customfields/controller/fields-controller.js"></script>
  <script src="modules/groupoffice/customfields/controller/model-controller.js"></script>
  <script src="modules/groupoffice/customfields/controller/models-controller.js"></script>
  <script src="modules/groupoffice/customfields/model/field.js"></script>
  <script src="modules/groupoffice/customfields/model/fieldset.js"></script>
  <script src="modules/groupoffice/customfields/model/model.js"></script>
  <script src="modules/groupoffice/customfields/services/custom-fields.js"></script>
  <script src="modules/groupoffice/dashboard/controller/main.js"></script>
  <script src="modules/groupoffice/dav/controller/account-edit.js"></script>
  <script src="modules/groupoffice/dav/language/de.js"></script>
  <script src="modules/groupoffice/dav/language/en.js"></script>
  <script src="modules/groupoffice/dav/language/fr.js"></script>
  <script src="modules/groupoffice/dav/language/gr.js"></script>
  <script src="modules/groupoffice/dav/language/hu.js"></script>
  <script src="modules/groupoffice/dav/language/nl.js"></script>
  <script src="modules/groupoffice/dav/language/pl.js"></script>
  <script src="modules/groupoffice/dav/language/ro.js"></script>
  <script src="modules/groupoffice/files/controller/drive-form.js"></script>
  <script src="modules/groupoffice/files/controller/drive.js"></script>
  <script src="modules/groupoffice/files/controller/drives.js"></script>
  <script src="modules/groupoffice/files/controller/file.js"></script>
  <script src="modules/groupoffice/files/controller/files.js"></script>
  <script src="modules/groupoffice/files/controller/main.js"></script>
  <script src="modules/groupoffice/files/models/browser.js"></script>
  <script src="modules/groupoffice/files/models/clipboard.js"></script>
  <script src="modules/groupoffice/files/models/drive.js"></script>
  <script src="modules/groupoffice/files/models/node.js"></script>
  <script src="modules/groupoffice/icalendar/controller/account-controller.js"></script>
  <script src="modules/groupoffice/icalendar/controller/accounts-controller.js"></script>
  <script src="modules/groupoffice/imap/controller/account.js"></script>
  <script src="modules/groupoffice/imap/controller/auto-detect.js"></script>
  <script src="modules/groupoffice/imap/controller/composer-controller.js"></script>
  <script src="modules/groupoffice/imap/language/de.js"></script>
  <script src="modules/groupoffice/imap/language/en.js"></script>
  <script src="modules/groupoffice/imap/language/fr.js"></script>
  <script src="modules/groupoffice/imap/language/gr.js"></script>
  <script src="modules/groupoffice/imap/language/hu.js"></script>
  <script src="modules/groupoffice/imap/language/nl.js"></script>
  <script src="modules/groupoffice/imap/language/pl.js"></script>
  <script src="modules/groupoffice/imap/language/ro.js"></script>
  <script src="modules/groupoffice/imap/model/account.js"></script>
  <script src="modules/groupoffice/imap/model/auto-detect.js"></script>
  <script src="modules/groupoffice/log/controllers/main.js"></script>
  <script src="modules/groupoffice/log/language/de.js"></script>
  <script src="modules/groupoffice/log/language/en.js"></script>
  <script src="modules/groupoffice/log/language/fr.js"></script>
  <script src="modules/groupoffice/log/language/gr.js"></script>
  <script src="modules/groupoffice/log/language/hu.js"></script>
  <script src="modules/groupoffice/log/language/nl.js"></script>
  <script src="modules/groupoffice/log/language/pl.js"></script>
  <script src="modules/groupoffice/log/language/ro.js"></script>
  <script src="modules/groupoffice/log/models/entry.js"></script>
  <script src="modules/groupoffice/messages/controllers/main.js"></script>
  <script src="modules/groupoffice/messages/controllers/thread.js"></script>
  <script src="modules/groupoffice/messages/models/account.js"></script>
  <script src="modules/groupoffice/messages/models/linked-thread.js"></script>
  <script src="modules/groupoffice/messages/models/message.js"></script>
  <script src="modules/groupoffice/messages/models/thread.js"></script>
  <script src="modules/groupoffice/messages/providers/account-mapping.js"></script>
  <script src="modules/groupoffice/messages/services/account-store.js"></script>
  <script src="modules/groupoffice/messages/services/composer.js"></script>
  <script src="modules/groupoffice/modules/controllers/main-controller.js"></script>
  <script src="modules/groupoffice/modules/controllers/module-controller.js"></script>
  <script src="modules/groupoffice/modules/models/module.js"></script>
  <script src="modules/groupoffice/notifications/controllers/popup.js"></script>
  <script src="modules/groupoffice/notifications/directives/notification-body.js"></script>
  <script src="modules/groupoffice/notifications/directives/notifications-button.js"></script>
  <script src="modules/groupoffice/notifications/directives/watch-button.js"></script>
  <script src="modules/groupoffice/notifications/factories/notifications-interceptor.js"></script>
  <script src="modules/groupoffice/notifications/models/notification.js"></script>
  <script src="modules/groupoffice/notifications/services/notifications.js"></script>
  <script src="modules/groupoffice/smtp/controller/account.js"></script>
  <script src="modules/groupoffice/smtp/language/de.js"></script>
  <script src="modules/groupoffice/smtp/language/en.js"></script>
  <script src="modules/groupoffice/smtp/language/fr.js"></script>
  <script src="modules/groupoffice/smtp/language/gr.js"></script>
  <script src="modules/groupoffice/smtp/language/hu.js"></script>
  <script src="modules/groupoffice/smtp/language/nl.js"></script>
  <script src="modules/groupoffice/smtp/language/pl.js"></script>
  <script src="modules/groupoffice/smtp/language/ro.js"></script>
  <script src="modules/groupoffice/smtp/model/account.js"></script>
  <script src="modules/groupoffice/tasks/controllers/account-edit.js"></script>
  <script src="modules/groupoffice/tasks/controllers/contact-tasks.js"></script>
  <script src="modules/groupoffice/tasks/controllers/main.js"></script>
  <script src="modules/groupoffice/tasks/controllers/settings-controller.js"></script>
  <script src="modules/groupoffice/tasks/controllers/task-edit.js"></script>
  <script src="modules/groupoffice/tasks/controllers/task.js"></script>
  <script src="modules/groupoffice/tasks/language/de.js"></script>
  <script src="modules/groupoffice/tasks/language/en.js"></script>
  <script src="modules/groupoffice/tasks/language/fr.js"></script>
  <script src="modules/groupoffice/tasks/language/gr.js"></script>
  <script src="modules/groupoffice/tasks/language/hu.js"></script>
  <script src="modules/groupoffice/tasks/language/nl.js"></script>
  <script src="modules/groupoffice/tasks/language/pl.js"></script>
  <script src="modules/groupoffice/tasks/language/ro.js"></script>
  <script src="modules/groupoffice/tasks/models/account.js"></script>
  <script src="modules/groupoffice/tasks/models/task.js"></script>
  <script src="modules/groupoffice/users/controllers/main.js"></script>
  <script src="modules/groupoffice/users/controllers/user-edit.js"></script>
  <script src="modules/groupoffice/users/controllers/user.js"></script>
  <script src="modules/groupoffice/users/language/de.js"></script>
  <script src="modules/groupoffice/users/language/en.js"></script>
  <script src="modules/groupoffice/users/language/fr.js"></script>
  <script src="modules/groupoffice/users/language/gr.js"></script>
  <script src="modules/groupoffice/users/language/hu.js"></script>
  <script src="modules/groupoffice/users/language/nl.js"></script>
  <script src="modules/groupoffice/users/language/pl.js"></script>
  <script src="modules/groupoffice/users/language/ro.js"></script>
  <script src="modules/groupoffice/users/models/group.js"></script>
  <script src="modules/groupoffice/users/models/user.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/configuration.js"></script>
  <script src="modules/instructiefilm/elearning/directives/activity-select.js"></script>
  <script src="modules/instructiefilm/elearning/directives/block-select.js"></script>
  <script src="modules/instructiefilm/elearning/directives/course-select.js"></script>
  <script src="modules/instructiefilm/elearning/directives/emailtemplate-select.js"></script>
  <script src="modules/instructiefilm/elearning/directives/language-select.js"></script>
  <script src="modules/instructiefilm/elearning/directives/movie-select.js"></script>
  <script src="modules/instructiefilm/elearning/directives/scorm-select.js"></script>
  <script src="modules/instructiefilm/elearning/directives/section-select.js"></script>
  <script src="modules/instructiefilm/elearning/language/de.js"></script>
  <script src="modules/instructiefilm/elearning/language/en.js"></script>
  <script src="modules/instructiefilm/elearning/language/fr.js"></script>
  <script src="modules/instructiefilm/elearning/language/gr.js"></script>
  <script src="modules/instructiefilm/elearning/language/hu.js"></script>
  <script src="modules/instructiefilm/elearning/language/nl.js"></script>
  <script src="modules/instructiefilm/elearning/language/pl.js"></script>
  <script src="modules/instructiefilm/elearning/language/ro.js"></script>
  <script src="modules/instructiefilm/elearning/models/Activity.js"></script>
  <script src="modules/instructiefilm/elearning/models/Attempt.js"></script>
  <script src="modules/instructiefilm/elearning/models/Block.js"></script>
  <script src="modules/instructiefilm/elearning/models/Configuration.js"></script>
  <script src="modules/instructiefilm/elearning/models/Course.js"></script>
  <script src="modules/instructiefilm/elearning/models/Incident.js"></script>
  <script src="modules/instructiefilm/elearning/models/Invitation.js"></script>
  <script src="modules/instructiefilm/elearning/models/InvitationWhitelist.js"></script>
  <script src="modules/instructiefilm/elearning/models/Language.js"></script>
  <script src="modules/instructiefilm/elearning/models/Movie.js"></script>
  <script src="modules/instructiefilm/elearning/models/Participant.js"></script>
  <script src="modules/instructiefilm/elearning/models/Scorm.js"></script>
  <script src="modules/instructiefilm/elearning/models/Section.js"></script>
  <script src="modules/instructiefilm/elearning/models/reminder-template.js"></script>
  <script src="modules/instructiefilm/elearning/services/elearning.js"></script>
  <script src="modules/tutorial/bands/controller/band-edit.js"></script>
  <script src="modules/tutorial/bands/controller/band.js"></script>
  <script src="modules/tutorial/bands/controller/main.js"></script>
  <script src="modules/tutorial/bands/model/band.js"></script>
  <script src="modules/groupoffice/notifications/components/panel/component.js"></script>
  <script src="modules/groupoffice/notifications/components/standard/component.js"></script>
  <script src="modules/groupoffice/users/components/selectuser/component.js"></script>
  <script src="modules/instructiefilm/elearning/components/select-participant/component.js"></script>
  <script src="modules/instructiefilm/elearning/components/select-sections/component.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/activities/activity-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/activities/activity.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/activities/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/blocks/block-course-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/blocks/block-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/blocks/block.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/blocks/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/content/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/courses/course-block-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/courses/course-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/courses/course.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/courses/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/dashboard/attempts.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/dashboard/visitors.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/invitation-whitelist/invitation-whitelist-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/invitation-whitelist/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/incidents/edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/incidents/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/incidents/participant.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/invitations/invitation-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/invitations/invitation-send.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/invitations/invitation.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/invitations/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/languages/language-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/languages/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/movie/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/movie/movie-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/participants/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/participants/participant-attempt-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/participants/participant-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/participants/participant-license-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/participants/participant.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/reminders/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/scorm/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/scorm/scorm-edit.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/sections/main.js"></script>
  <script src="modules/instructiefilm/elearning/controllers/sections/section-edit.js"></script>
  <script src="modules/instructiefilm/elearning/language/customfields/de.js"></script>
  <script src="modules/instructiefilm/elearning/language/customfields/en.js"></script>
  <script src="modules/instructiefilm/elearning/language/customfields/fr.js"></script>
  <script src="modules/instructiefilm/elearning/language/customfields/gr.js"></script>
  <script src="modules/instructiefilm/elearning/language/customfields/hu.js"></script>
  <script src="modules/instructiefilm/elearning/language/customfields/nl.js"></script>
  <script src="modules/instructiefilm/elearning/language/customfields/pl.js"></script>
  <script src="modules/instructiefilm/elearning/language/customfields/ro.js"></script>
  <!-- endinject -->
	
	<script src="./app.js"></script>
	<!-- endbuild -->
	
	<script src="./config.js"></script>
</body>
</html>

