<div  flex flex-gt-md="50" layout="column" >
<md-card class="go-settings-card-panel" layout="column" flex>
	
		<go-list-toolbar store="store">
			<go-tools class="md-toolbar-tools">
				<md-button class="md-icon-button hide-gt-sm" ng-click="$state.go('^')">
					<md-icon>chevron_left</md-icon>
				</md-button>

				<h3 flex>{{::"Accounts" | goT}}</h3>
			</go-tools>
		</go-list-toolbar>


		<go-list store="store" virtual="false" flex layout="column">

			<item class="md-2-line">
				<md-icon>{{accountTypes[model.modelName].iconCls}}</md-icon>
				<div class="md-list-item-text">
					<h3>{{model.name}}</h3>
					<p>{{model.modelName | goT}}</p>
				</div>
				<go-list-edit-button class="md-secondary" on-edit="editAccount(model)"></go-list-edit-button>
				<md-button class="md-icon-button md-secondary" ng-click="share(model)">
					<md-icon>share</md-icon>
					<md-tooltip>{{"Share" | goT}}</md-tooltip>
				</md-button>
				<go-list-delete-button class="md-secondary"></go-list-delete-button>
			</item>

			<empty-state>
				<md-icon>account_box</md-icon>
				<p>{{::"You don't have any accounts configured yet"| goT}}</p>
			</empty-state>

		</go-list>

	<md-card-actions layout="row" layout-align="end center">
		<md-button class="md-accent" ng-click='createAccount()'>{{"Add" | goT}}</md-button>
	</md-card-actions>
</md-card>
	</div>