
<md-card class="go-settings-card-panel" flex-gt-md="50" layout="column">


	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{::"General"| goT}}</h2>
		</div>
	</md-toolbar>

	<md-tabs flex md-dynamic-height="true">
		<md-tab>
			<md-tab-label>{{::"System settings"| goT}}</md-tab-label>
			
			<md-tab-body>
				<fieldset>
					<md-input-container class="md-icon-left">
						<md-icon>send</md-icon>
						<label>{{::"SMTP Account"| goT}}</label>
						
						
						<go-select-account q="[['where',{ownedBy: user.id}]]" ng-model="model.smtpAccountId" go-capability="GO\Core\Email\Model\Message" go-on-add="addSmtpAccount()"></go-select-account>
						
<!--						<md-select ng-model="model.smtpAccount" ng-model-options="{trackBy: '$value.id'}">
							<md-option ng-value="account" ng-repeat="account in smtpAccountStore.items">{{account.name}}</md-option>	

							<md-option ng-click="addSmtpAccount()" ng-value=""><md-icon>add</md-icon> {{"Add"| goT}}</md-option>
						</md-select>					-->
					</md-input-container>

					<md-button ng-disabled="model.smtpAccount === null" ng-click="sendTestMessage();">{{::"Send test message"| goT}}</md-button>
				</fieldset>
			</md-tab-body>
		</md-tab>
		
		<md-tab ng-if="webclientModel">
			<md-tab-label>{{::"Custom style"| goT}}</md-tab-label>
			
			<md-tab-body>
				<fieldset>
					<md-input-container class="md-block">
						<md-icon>appearance</md-icon>
						<label>{{::"CSS Style"| goT}}</label>
						<textarea ng-model="webclientModel.css" ng-blur="webclientModel.save()">
							
						</textarea>
					</md-input-container>

					
				</fieldset>
			</md-tab-body>
		</md-tab>
	</md-tabs>

</md-card>
