<form layout="column" name="bandForm" go-submit="save()" go-server-errors="model.validationErrors" novalidate>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button type="button" class="md-icon-button" ng-click="cancel()">
				<md-tooltip>{{::"Close"| goT}}</md-tooltip>
				<md-icon>close</md-icon>
			</md-button>

			<span flex>
					
				<go-select-account go-capability="GO\Modules\GroupOffice\Tasks\Model\Task" ng-model="model.accountId"></go-select-account>

			</span>
			
			<md-button type="submit" class="md-icon-button">
				<md-tooltip>{{::"Save"| goT}}</md-tooltip>
				<md-icon>check</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-content class="md-padding" flex>

		<md-input-container class="md-block">
			<md-icon>description</md-icon>
			<label>{{::"Desciption"| goT}}</label>
			<input ng-model="model.description" name="description" required go-autofocus>
			<div ng-messages="modelForm.name.$error" role="alert">
				<div ng-message="required">{{::"This field is required"| goT}}</div>
			</div>
		</md-input-container>

		<!--<go-select-user label="Assigned to" ng-model="model.assignee"></go-select-user>-->
		
		
		<div layout="row">
				<md-input-container class="md-icon-left">							
					<md-icon>account_box</md-icon>
				</md-input-container>
				
				<go-select-owner flex ng-model="model.assignee"></go-select-owner>
					
				<md-button class="md-icon-button" ng-click="model.assignee = null;" style="margin: 15px 0;">
					<md-icon>delete</md-icon>
					<md-tooltip>{{"Clear" | goT}}</md-tooltip>
				</md-button>
			</div>
		

<!--		<md-input-container class="md-block">							
			<label>{{::"Due at"| goT}}</label>
			<input ng-model="model.dueTime" />
			<input mdc-datetime-picker date="true" time="true" type="text" short-time="false"
               placeholder="DateTime"
               min-date="minDate"
               format="DD-MM-YYYY HH:mm"
               ng-model="model.dueTime">
		</md-input-container>
		-->
		
		
		<!--<div layout="row">-->
			<go-date-picker label="Due at" ng-model="model.dueAt"></go-date-picker>
			
<!--			<md-input-container flex class="md-block">							
				<md-icon>schedule</md-icon>
				<label>{{::"Duration (Minutes)"| goT}}</label>
				<input ng-model="model.duration" ng-pattern="/^[0-9]*$/" />
			</md-input-container>
		</div>-->
		
		<md-input-container class="md-block">
			<md-icon>note</md-icon>
			<label>{{::"Notes"| goT}}</label>
			<textarea ng-model="model.notes" md-maxlength="150" md-select-on-focus></textarea>
		</md-input-container>

		<div layout="row">
			<div class="go-icon-spacer">				
				<md-icon>labels</md-icon>			
			</div>
			<go-tag-select flex ng-model="model.tags"></go-tag-select>
		</div>
		

	</md-content>

</form>