

<div class="go-notifications">


	<div class="empty-state" ng-if="!store.busy && store.items.length === 0">
		<md-icon>notifications</md-icon>
		<p>{{::"No notifications found"| goT}}</p>
	</div>


	<md-card ng-repeat="model in store.items" go-notification-body>
		
		</md-card>


		<div class="go-notifications-toolbar" layout="row" ng-if="store.items.length > 0">
			<span flex></span>
			<md-button class="md-accent" ng-click="dismissAll()">
				{{::"Dismiss all"| goT}}
			</md-button>

		</div>
	</div>
