<div layout="column" style="height:100%">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button type="button" class="md-icon-button" ng-click="close()">
				<md-tooltip>{{::"Close"| goT}}</md-tooltip>
				<md-icon>close</md-icon>
			</md-button>

			<!--			<span flex></span>
						<md-button type="submit" class="md-icon-button">
							<md-tooltip>{{::"Save"| goT}}</md-tooltip>
							<md-icon>check</md-icon>
						</md-button>-->
		</div>
	</md-toolbar>

	<div class="md-padding" flex layout="column">

		<div style="padding-bottom: 8px;">
		<md-autocomplete	
			md-delay="500"
			md-selected-item="selectedGroup"
										 md-search-text="groupSearchText"
										 md-items="group in getGroups(groupSearchText)"
										 md-item-text="group.name"				
										 md-selected-item-change="addGroup()"
										 placeholder="Add group"
										 >							
			<md-item-template>
				<span md-highlight-text="groupSearchText" md-highlight-flags="^i">{{group.name}}</span>							
			</md-item-template>
		</md-autocomplete>
		</div>	

		<md-content flex>

			<table class="styled">
				<tr>
					<th flex="60">
						Group
					</th>

					<th flex="20" class="center">
						Write
					</th>
					<th flex="20" class="center">
						Delete
					</th>
					<th flex="20" class="center">
						
					</th>
				</tr>

				<tr ng-repeat="item in store.items track by item.groupId">
					<td>{{item.group.name}}</td>
					<td class="center"><md-checkbox ng-model="item.write" ng-change="item.save()"></md-checkbox></td>
					<td class="center"><md-checkbox ng-model="item.delete" ng-change="item.save()"></md-checkbox></td>
					<td class="center">
						<md-button ng-click="deleteRecord($index)" class="md-icon-button"><md-icon class="mdi-close md-warn"></md-icon></md-button>
					</td>
				</tr>
				
				<tr ng-if="store.items.length==0">
					<td colspan="4" class="center">
						<div class="empty-state">
							<md-icon>group</md-icon>
							<p>{{::"Add groups to share" | goT}}</p>
						</div>
					</td>
				</tr>

			</table>

		</md-content>

	</div>
</div>