<div layout="column" style="height:100%">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button type="button" class="md-icon-button" ng-click="close()">
				<md-tooltip>{{::"Close"| goT}}</md-tooltip>
				<md-icon>close</md-icon>
			</md-button>

			<!--			<span flex></span>
						<md-button type="submit" class="md-icon-button">
							<md-tooltip>{{::"Save"| goT}}</md-tooltip>
							<md-icon>check</md-icon>
						</md-button>-->
		</div>
	</md-toolbar>

	<div class="md-padding" flex layout="column">


		<md-content flex>

			<table class="styled">
				<tr>
					<th style="min-width: 200px">
						{{"Group" | goT}}
					</th>

					<th flex="20" class="center">
						{{"Write" | goT}}
					</th>
					<th flex="20" class="center">
						{{"Delete" | goT}}
					</th>
					<th flex="20" class="center">
						
					</th>
				</tr>

				<tr ng-repeat="item in model.groups track by item.groupId" ng-if="!item.markDeleted">
					<td>{{item.group.name}}</td>
					<td class="center"><md-checkbox ng-model="item.write" ng-change="model.save()" ng-disabled="!item.permissions.update"></md-checkbox></td>
					<td class="center"><md-checkbox ng-model="item.delete" ng-change="model.save()" ng-disabled="!item.permissions.update"></md-checkbox></td>
					<td class="center">
						<md-button ng-click="deleteRecord(item)" class="md-icon-button" ng-disabled="!item.permissions.delete">
							<md-icon>delete</md-icon>
							<md-tooltip>{{::"Delete" | goT}}</md-tooltip>
						</md-button>
					</td>
				</tr>
				
<!--				<tr ng-if="store.items.length==0">
					<td colspan="4" class="center">
						<div class="empty-state">
							<md-icon>group</md-icon>
							<p>{{::"Add groups to share" | goT}}</p>
						</div>
					</td>
				</tr>-->
				
				<tr>
					<td>
						
								<md-autocomplete	
			md-delay="500"
			md-no-cache="1"
			md-selected-item="selectedGroup"
			md-min-length="0"
			md-search-text="groupSearchText"
			md-items="group in getGroups(groupSearchText)"
			md-item-text="group.name"				
			md-selected-item-change="addGroup()"			
			md-floating-label="Add group"
										 >							
			<md-item-template>
				<span md-highlight-text="groupSearchText" md-highlight-flags="^i">{{group.name}}</span>							
			</md-item-template>
		</md-autocomplete>
						
						
					</td>
					<td colspan="3"></td>
				</tr>

			</table>

		</md-content>

	</div>
</div>