<go-hook name="messages.main" layout="row">
	<aside>	
		<!--<div go-on-load="onFilterLoad(filterCollection)" go-filter-collection="messages/filters" go-store="store"></div>-->		
		<go-filter name="type" type="single" go-value="filters.type" on-change="updateFilter('type', value)">

			<go-option value="incoming">
				<md-icon>inbox</md-icon>
				<p>{{"Incoming"| goT}}</p>
			</go-option>

			<go-option value="unread">
				<md-icon>email</md-icon>
				<p>{{"Unread"| goT}}</p>
			</go-option>

			<go-option value="flagged">
				<md-icon>flag</md-icon>
				<p>{{"Flagged"| goT}}</p>
			</go-option>
			<go-option value="actioned">
				<md-icon>folder</md-icon>
				<p>{{"Actioned"| goT}}</p>
			</go-option>

			<go-option value="draft">
				<md-icon>star</md-icon>
				<p>{{"Drafts"| goT}}</p>
			</go-option>			

			<go-option value="sent">
				<md-icon>send</md-icon>
				<p>{{"Sent"| goT}}</p>
			</go-option>

			<go-option value="trash">
				<md-icon>delete</md-icon>
				<p>{{"Trash"| goT}}</p>
			</go-option>

			<go-option value="junk">
				<md-icon>report</md-icon>
				<p>{{"Junk"| goT}}</p>
			</go-option>

			<go-option value="outbox">
				<md-icon>sync</md-icon>
				<p>{{"Outbox"| goT}}</p>
			</go-option>

		</go-filter>

		<md-divider></md-divider>

		<go-tag-filter on-change="updateFilter('tags', value)" record-class-name='GO\Modules\GroupOffice\Messages\Model\Thread'></go-tag-filter>

		<md-divider></md-divider>
		
		<go-filter name="account" type="single" go-value="filters.accountId" on-change="updateFilter('accountId', value)">

			<go-option go-value="account.id" ng-repeat="account in accountStore.items track by account.id" class="{{account.name}}">
				<md-icon>account_box</md-icon>
				<p>{{account.name}}</p>
			</go-option>

		</go-filter>

	</aside>	

	<div class="go-cards-sm" flex>

		<div class="go-card go-list" ng-class="{'go-active' : $state.is('messages')}">
			<go-list-toolbar store="store" class="md-hue-1">
				<go-tools class="md-toolbar-tools">
					<md-button aria-label="{{::'Open side navigation'| goT}}" ng-click="toggleAside()" hide-gt-md class="md-icon-button">
						<md-icon>menu</md-icon>
					</md-button>

					<span flex></span>

					<go-search-button></go-search-button>

					<md-menu md-position-mode="target-right target">
						<md-button aria-label="{{::'More options'| goT}}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
							<md-icon md-menu-origin>more_vert</md-icon>
						</md-button>
						<md-menu-content>
							<md-menu-item>
								<md-button ng-click="store.reload()">{{::"Refresh"| goT}}</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</go-tools>			
			</go-list-toolbar>


			<go-list store="store" group="lastMessageSentAt | date: 'fullDate'">

				<item ng-click="selectThread(model)" class="md-3-line" ng-class="{'unseen': !model.seen}">
					<img ng-if="model.photoBlobId" alt="{{model.name}}" ng-src="{{'thumb/' + model.photoBlobId| apiUrl : {w:50, h: 50, zoomCrop: 1} }}" class="md-avatar" />
					<img ng-if="!model.photoBlobId" alt="{{model.name}}" src="modules/groupoffice/contacts/resources/default-photo.png" class="md-avatar" />
					<div class="md-list-item-text" layout="column">						
						<div layout="row">							
							<h3 flex>{{model.getRandom()}} {{model.getFrom()}}</h3>
							<small><span ng-if="model.messageCount > 1" class="count">{{model.messageCount}}» </span><md-icon ng-if="model.answered">reply</md-icon><md-icon ng-if="model.hasAttachments">attach_file</md-icon>{{model.lastMessageSentAt| date : "shortTime"}}</small>
						</div>
						<h4>{{model.subject}}</h4>
						<p class="go-ellipsis">{{model.excerpt}}</p>						
					</div>
				</item>

				<empty-state>
					<md-icon>person</md-icon>
					<p>{{::"No threads found"| goT}}</p>
				</empty-state>

			</go-list>

			<!--			<div class="go-fab-list">
							
			-->

			<md-button accesskey="a" class="md-fab md-fab-bottom-right" ng-click="compose()">
				<md-icon>add</md-icon>
				<md-tooltip md-direction="top">{{::"Compose"| goT}} (Alt+a)</md-tooltip>
			</md-button>

		</div>
		<!--</div>-->


		<!-- Change the following lines -->
		<div ui-view class="go-card go-info-panel messages-thread ng-animate-disabled" ng-class="{'go-active' : !$state.is('messages')}"></div>
	</div>
</go-hook>


