<md-dialog style="width:400px;">
	<form layout="column" name="forcePasswordChangeForm" go-submit="save()" go-server-errors="user.validationErrors" novalidate>

		<md-toolbar>
			<div class="md-toolbar-tools"><h2>{{"Reset password"| goT}}</h2></div>
		</md-toolbar>

		<md-dialog-content layout-padding>

			<p>Uw wachtwoord staat nog ingesteld op het standaard wachtwoord. Voer een nieuw wachtwoord in voor een betere beveiliging.</p>
			<div>	
				<md-input-container   class="md-block">
					<label>{{ "Password" | goT}}</label>
					<input type="password" ng-model="user.password"  required="true" name="password"/>
					<div ng-messages="forcePasswordChangeForm.password.$error" role="alert">
						<div ng-message="10">{{::"Password must be longer than 6 characters"| goT}}</div>
						<div ng-message="required">{{::"This field is required"| goT}}</div>
					</div>
				</md-input-container>

				<md-input-container   class="md-block">
					<label>{{"Repeat Password" | goT }}</label>
					<input type="password" ng-model="repeatPass" name="repeatPass"  required="true" go-match="user.password"/>
					<div ng-messages="forcePasswordChangeForm.repeatPass.$error" role="alert">
						<div ng-message="goMatch">{{::"The passwords don't match"| goT}}</div>
						<div ng-message="required">{{::"This field is required"| goT}}</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions>
			<md-button type="submit" class="md-primary">
				{{"Change" | goT}}
			</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>