
<form name="addFilterForm" go-submit="save()" go-server-errors="model.validationErrors" novalidate>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="hide()">
				<md-icon>
					close
				</md-icon>
			</md-button>
			<div flex>
				{{"Add filter" | goT}}
			</div>
			<md-button class="md-icon-button" type="submit">
				<md-icon>
					check
				</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-content>

		<fieldset>
				
				
			<md-input-container class="md-block">
				<md-icon>description</md-icon>
				<label>{{"Field"| goT}}</label>
				<md-select ng-model="model.field" required>
					<md-option ng-value="name" ng-repeat="(name, props)  in properties">
						{{props.label| goT}}
					</md-option>					
				</md-select>

			</md-input-container>
			
			<md-input-container class="md-block">
				<md-icon>compare_arrows</md-icon>
				<label>{{"Comparator"| goT}}</label>
				<md-select ng-model="model.comparator" required>										
					<md-option value="=">
						{{"Equals"| goT}}
					</md-option>
					
					<md-option value="!=">
						{{"Doesn't equal"| goT}}
					</md-option>
					
					<md-option value=">">
						{{"Greather than"| goT}}
					</md-option>
					
					<md-option value="<">
						{{"Lower than"| goT}}
					</md-option>
				</md-select>
			</md-input-container>
			
			<div ng-include="properties[model.field].editorTpl"></div>
		</fieldset>

	
	</md-content>
</form>