<go-hook name="module" flex layout="column">

	<md-toolbar class="md-hue-1" go-scroll-class>
		<div class="md-toolbar-tools">
			<md-button aria-label="{{::'Back'| goT}}" class="md-icon-button hide-gt-sm" ng-click="$state.go('^')">
				<md-icon>chevron_left</md-icon>
			</md-button>

			<span flex>

				<span class="go-scroll-hidden">
					{{module.moduleInformation.languages.en.name}} ({{module.moduleInformation.version}})
				</span>

			</span>


		</div>

		<div class="go-display-panel-header" layout="row" layout-align="start center">
			<div class="go-avatar">
				<md-icon md-svg-src="{{module.icon}}"></md-icon>
			</div>
			<span flex>
				<strong>{{module.moduleInformation.languages.en.name}}</strong> ({{module.moduleInformation.version}})<br />
				<small>{{::'Created By'| goT}} {{module.moduleInformation.author}}</small>
			</span>

		</div>


	</md-toolbar>

	<md-tabs md-selected="tabs.selectedIndex">

		<go-hook name='module-toolbar'>
			<md-tab ng-click="goto('info')">Info</md-tab>
			<md-tab ng-disabled="!module.installed" ng-click="goto('permissions')">Permissions</md-tab>
		</go-hook>

	</md-tabs>



	<md-content class="go-grey" flex>

		<md-card id="info">
			<md-toolbar class="md-hue-1">
				<div class="md-toolbar-tools">
					<h2 flex>Info</h2>
					<!--					<md-button class="md-icon-button" ng-disabled="!module.permissions.update" ng-click="edit({module: module})">
											<md-tooltip>
											{{::"Edit"| goT}}					
											</md-tooltip>
											<md-icon>edit</md-icon>
										</md-button>-->
				</div>
			</md-toolbar>

			<md-card-content>


				<md-list>

					<md-list-item class="md-2-line">
						<md-icon class="mdi-information"></md-icon>
						<div class="md-list-item-text">

							<toggle more-text="{{'Show more'| goT}}..." less-text="{{'Show less'| goT}}...">
								<summary>{{module.moduleInformation.languages.en.shortDescription}}</summary>
								<full>{{module.moduleInformation.languages.en.longDescription}}</full>								
							</toggle>



							<!--<p>{{::"Description"| goT}}</p>-->
						</div>
					</md-list-item>
					
					<md-list-item class="md-2-line" ng-if="module.moduleInformation.languages.en.images">
						<md-icon class="mdi-image-multiple"></md-icon>
						<div class="md-list-item-text">
							<div class="image-banner">
								<div ng-repeat="image in module.moduleInformation.languages.en.images"><img src="{{image.src}}" title="{{image.alt}}" /></div>
							</div>
							<!--<p>{{::"Images"| goT}}</p>-->
						</div>
					</md-list-item>

					<md-list-item class="md-2-line">
						<md-icon class="mdi-worker"></md-icon>
						<div class="md-list-item-text">
							<h3>{{module.moduleInformation.author}}</h3>
							<p>{{::"Created by"| goT}}</p>
						</div>
					</md-list-item>

					<md-list-item class="md-2-line">
						<md-icon>email</md-icon>
						<div class="md-list-item-text">
							<h3>{{module.moduleInformation.email}}</h3>
							<p>{{::"Email"| goT}}</p>
						</div>
					</md-list-item>

				</md-list>

				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-if="module.installed" class="md-primary" ng-click="disable($event)">{{::"Disable"| goT}}</md-button>
					<md-button ng-if="!module.installed" class="md-primary" ng-click="install($event)">{{::"Install"| goT}}</md-button>
				</md-card-actions>

			</md-card-content>

		</md-card>

		<md-card id="permissions" ng-if="module.installed">
			<md-toolbar class="md-hue-1">
				<div class="md-toolbar-tools">
					<h2 flex>{{::"Permissions" | goT}}</h2>
					<!--					<md-button class="md-icon-button" ng-disabled="!module.permissions.update" ng-click="edit({module: module})">
											<md-tooltip>
											{{::"Edit"| goT}}					
											</md-tooltip>
											<md-icon>edit</md-icon>
										</md-button>-->
				</div>
			</md-toolbar>

			<md-card-content>

				<div style="padding-bottom: 8px;">
				
					<md-autocomplete	
						md-delay="500"
						md-selected-item="$parent.selectedGroup"
						md-search-text="$parent.groupSearchText"
						md-items="group in getGroups(groupSearchText)"
						md-item-text="group.name"
						placeholder="Add group"
						>							
						<md-item-template>
							<span md-highlight-text="groupSearchText" md-highlight-flags="^i">{{group.name}}</span>							
						</md-item-template>
					</md-autocomplete>
				</div>	

				<md-content>

					<table class="styled">
						<tr>
							<th flex="60">
								Group
							</th>

							<th flex="20" class="center" ng-repeat="permissionType in module.permissionTypes" ng-if="!permissionType.readonly">
								{{::permissionType.name | goT}}
							</th>
							<th flex="20" class="center">

							</th>
						</tr>

						<tr ng-repeat="group in permissionStore.items track by group.id">
							<td>{{group.name}}</td>
							
							<td class="center" ng-repeat="permissionType in module.permissionTypes"ng-if="!permissionType.readonly">
								<md-checkbox ng-model="group.permissions[permissionType.name]" ng-change="togglePermission(group, permissionType)"></md-checkbox>
							</td>
							
							<td class="center">
								<md-button ng-click="deleteRecord(group.id)" class="md-icon-button">
									<md-icon class="mdi-delete"></md-icon>
								</md-button>
							</td>
						</tr>

						<tr ng-if="permissionStore.items.length == 0">
							<td colspan="4" class="center">
								<div class="empty-state">
									<md-icon class="mdi-account-multiple"></md-icon>
									<p>{{::"Add groups to share"| goT}}</p>
								</div>
							</td>
						</tr>

					</table>

				</md-content>


			</md-card-content>

		</md-card>
	</md-content>
</go-hook>