.go-comments {
	.go-avatar{
		margin: 0px 32px 0px 16px;

		@media (min-width:$screen-desktop) {
			margin: 0px 24px 0px 8px;
		}
	}
	
	h4 {
		margin: 2px 0;
	}
	
	.go-comment {
		padding: 12px 0;
	}
	
	img {		
		margin: 12px 12px 12px 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	}
}

