.go-comments {
	.go-avatar{
		margin: 0px 32px 0px 16px;

		@media (min-width:$screen-desktop) {
			margin: 0px 24px 0px 8px;
		}
	}
	
	h4 {
		margin: 2px 0;
	}
	
	.go-comment {
		padding: 12px 0;
	}
}

