
		<div class="go-comments">
		<div ng-repeat="model in $ctrl.store.items" class="go-comment">
			<div layout="row">

				<img ng-if="model.creator.photoBlobId" alt="{{model.creator.username}}" ng-src="{{'thumb/' + model.creator.photoBlobId| apiUrl : {w:30, h: 30, zoomCrop: 1} }}" class="go-avatar small" />
				<img ng-if="!model.creator.photoBlobId" alt="{{model.creator.username}}" src="modules/groupoffice/contacts/resources/default-photo.png" class="go-avatar small" />

				<div flex>
					<i>{{model.createdAt| date}}, {{model.creator.username}} wrote:</i><br />
					
					<p ng-bind-html="model.content"></p>
					<div ng-if="::model.attachments.length" class="go-attachments">
				<a ng-repeat="attachment in ::model.attachments" href="{{'download/' + attachment.blobId| apiUrl}}" target="_blank">
					<md-icon>attach_file</md-icon>&nbsp;{{attachment.name}}
				</a>
			</div>
				</div>

			</div>

			

			
			<md-divider></md-divider>
		</div>


		<div flow-init="$ctrl.flowInit"
				 flow-files-submitted="$flow.upload()"
				 flow-file-success="$ctrl.uploadSuccess($file, $message)"
				 flow-drop>
			
			<form go-submit="$ctrl.addComment()" layout="column" go-server-errors="$ctrl.newComment.validationErrors" novalidate>

				<div flex go-wysiwyg ng-model="$ctrl.newComment.content" on-image-paste="$ctrl.onImagePaste(blob, editor)"></div>

				<md-divider></md-divider>

				<div class="go-attachments" ng-if="$ctrl.newComment.attachments.length || $flow.files.length">
					<div ng-repeat="attachment in $ctrl.newComment.attachments" class="attachment" layout="row"> 										
						<md-icon>attachment</md-icon>
						<strong flex>{{attachment.name}}</strong> 
						<md-icon ng-click="$ctrl.removeAttachment($index)" style="cursor:pointer">delete</md-icon>
					</div>

					<div ng-repeat="file in $flow.files" class="attachment" ng-if="file.isUploading()"> 					
						<md-icon>attachment</md-icon>
						<strong>{{file.name}}</strong>
						<md-icon ng-click="file.cancel()" style="cursor:pointer">delete</md-icon>
						<md-progress-linear md-mode="determinate" ng-value="file.progress()*100"></md-progress-linear>			
					</div>
				</div>

				<div layout="row">				
					<md-button class='md-accent' type='submit'>{{"Add comment"| goT}}</md-button>
					<span flex></span>
					<md-button accesskey="s" type="button" class="md-icon-button" flow-btn>
						<md-tooltip>{{::"Attach file"| goT}} (Alt+a)</md-tooltip>
						<md-icon>attachment</md-icon>
					</md-button>
					
					
				</div>

			</form>
		</div>
			</div>

