<div class="go-form-dateinterval" layout="column" layout-align="space-between start">
	<div layout="row">
		<md-icon>schedule</md-icon>
		<p>{{label | goT}}</p>
	</div>
	
	<div layout="row" layout-align="space-between start">
		<div class="go-icon-spacer"></div>
		<div ng-repeat="unit in units">
			<md-input-container>				
				<label>{{unit.name}}</label>
				<input name="amount" ng-model="duration[unit.key]" placeholder="0" required ng-pattern="/^\d+$/">
			</md-input-container>
		</div>
	</div>
</div>