<table class="timepicker" ng-class="{disabled: disabled}">
	<tbody>
		<tr class="text-center">
			<td><a ng-click="incrementHours()"><i class="arrow-up"></i></a></td>
			<td>&nbsp;</td>
			<td><a ng-click="incrementMinutes()"><i class="arrow-up"></i></a></td>
			<td ng-show="showMeridian"></td>
		</tr>
		<tr>
			<td ng-class="{'has-error': invalidHours}">
				<input type="text" ng-model="hours" ng-change="updateHours()" ng-readonly="readonlyInput" maxlength="2" ng-disabled="disabled">
			</td>
			<td>:</td>
			<td ng-class="{'has-error': invalidMinutes}">
				<input type="text" ng-model="minutes" ng-change="updateMinutes()" ng-readonly="readonlyInput" maxlength="2" ng-disabled="disabled">
			</td>
			<td ng-show="showMeridian"><button type="button" class="btn btn-default text-center" ng-click="toggleMeridian()">{{meridian}}</button></td>
		</tr>
		<tr class="text-center">
			<td><a ng-click="decrementHours()"><i class="arrow-down"></i></a></td>
			<td>&nbsp;</td>
			<td><a ng-click="decrementMinutes()"><i class="arrow-down"></i></a></td>
			<td ng-show="showMeridian"></td>
		</tr>
	</tbody>
</table>
