<go-hook id="files-drive" name="files.locations.drive" flex>

	<go-mask ng-show="data.deleted">
		<md-button class="md-raised md-warn" ng-click="data.unDelete()">{{"Undo delete"| goT : "file" }}</md-button>
	</go-mask>
	<md-toolbar class="md-hue-1">
		<div class="md-toolbar-tools">


			<md-icon class="md-avatar">storage</md-icon>
			<p flex>
			{{model.name}}
			</p>
			<md-button ng-if="::permissions.manageDrives" ng-click="editDrive(model)">Edit</md-button>
			<md-button class="md-icon-button" ng-click="showInfo = false"><md-icon>close</md-icon></md-button>

		</div>

	</md-toolbar>

	<md-list flex>

		<md-list-item class="drive">
			<h1 style="width:100%;">{{model.name}}</h1>
			<p> {{model.quota | bytes}} Server storage</p>
		 </md-list-item>

		<md-divider></md-divider>
		
		<md-list-item class="md-2-line" ng-click="mount(model)">
			<md-icon>folder_shared</md-icon>
			<p>Mount</p>
			<md-switch class="md-secondary" ng-model="model.isMounted" ng-true-value="'1'" ng-false-value="'0'"></md-switch>
		</md-list-item>
		<md-divider></md-divider>
		<div layout="row">
		<div layout="column" flex="60">
		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
            <h3>Capacity</h3>
            <p>{{model.quota | bytes}}</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
            <h3>Used</h3>
            <p>{{model.usage | bytes}}</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
            <h3>Available</h3>
            <p>{{(model.quota - model.usage) | bytes}}</p>
			</div>
		</md-list-item>
		</div>
		<div layout="column" layout-align="center center">
			<md-progress-circular md-mode="determinate" md-diameter="96" value="{{model.percentage()}}"></md-progress-circular>
			{{model.percentage()}}%
		</div>
		</div>
		<md-divider></md-divider>

		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
            <h3>Location</h3>
            <p>/{{model.root.path}}</p>
			</div>
		</md-list-item>
		
		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
            <h3>Type</h3>
            <p>Group-Office storage</p>
			</div>
		</md-list-item>

		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
            <h3>Owner</h3>
            <p>{{model.owner.name}}</p>
			</div>
		</md-list-item>

		<md-divider></md-divider>

		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
            <h3>Last Modified</h3>
            <p>{{model.modifiedAt| date}}</p>
			</div>
		</md-list-item>

		<md-divider></md-divider>


	</md-list>

</go-hook>