<go-hook id="file-info-panel" name="files.file" flex>

	<go-mask ng-show="data.deleted">
		<md-button class="md-raised md-warn" ng-click="data.unDelete()">{{"Undo delete"| goT : "file" }}</md-button>
	</go-mask>
	<md-toolbar class="md-hue-1">
		<div class="md-toolbar-tools">


			<md-icon class="md-avatar">{{model.getIcon()}}</md-icon>
			<p flex layout="row" >
				<input flex type="text" name="name" ng-model="model.name" />
			</p>
			<md-button ng-click="model.save()">Save</md-button>
			<md-button class="md-icon-button" ng-click="showInfo = false"><md-icon>close</md-icon></md-button>

		</div>

	</md-toolbar>

	<div id="file-preview" ng-if="model.isDisplayable()">
		<div ng-if="model.isImage()" class="image" ng-style="{'background-image': 'url(\'{{model.getBlob()}}\')'}" >
		</div>
		<!-- todo: <iframe ng-if="model.isDocument()" ng-src="{{model.getBlob()}}">
				</iframe>-->
		<div ng-if="model.isPlayable()">
			<video id="files-video" onclick="getElementById('files-video').pause();" ng-src="{{model.getBlob()}}" controls ></video>
		</div>
	</div>

	<md-list flex>
		
		<md-divider></md-divider>
		<md-list-item class="md-2-line" ng-click="model.nodeUser.starred = !model.nodeUser.starred">
			<md-icon>star</md-icon>
			<p>Met ster</p>
			<md-switch class="md-secondary" ng-model="model.nodeUser.starred"></md-switch>
		</md-list-item>

		<md-divider></md-divider>
		<h5>Info</h5>
		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
            <h3>Location</h3>
            <p>{{model.path}}</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line">
			<div class="md-list-item-text">
            <h3>Last Modified</h3>
            <p>{{model.modifiedAt| date}}</p>
			</div>
		</md-list-item>

		<md-divider></md-divider>
		

	</md-list>
	<md-button ng-click="deleteNode(model)" class="md-warn">Delete</go-hook>