<md-content flex layout="column" ng-cloak>
	
	<md-nav-bar nav-bar-aria-label="navigation links" md-selected-nav-item="browser.currentDir">

			<md-button aria-label="{{::'Open side navigation'| goT}}" ng-click="toggleSidenav('left')" hide-gt-md>
				<md-icon>menu</md-icon>
			</md-button>
			<md-button ng-disabled="!browser.depth()" ng-click="browser.up()">
				<md-icon>arrow_upward</md-icon>
			</md-button>

			<md-nav-item 
				ng-repeat="dir in browser.dirStack"
				ng-style="$last?{'font-weight':'bold'}:{}"
				md-nav-sref="files.list.node"
				name="{{dir.id}}"
				ng-click="browser.goTo(dir)">
					<span>{{dir.name}}</span>
					<md-icon ng-if="!$last">keyboard_arrow_right</md-icon>
			</md-nav-item>

			<span flex></span>
			<md-menu>
				<md-button ng-click="openMenu($mdMenu, $event)">
					<md-icon>create_new_folder</md-icon> {{"New folder"| goT}}
				</md-button>
				<md-menu-content width="4" style="padding: 0 8px; overflow: hidden;" layout="row">
					<md-input-container style="top:12px; margin:0;" flex>
						<input type="text" ng-model="newFolder" placeholder="Folder name" />
					</md-input-container>
					<md-button style="width:38px;" ng-click="addFolder(newFolder)"><md-icon>create_new_folder</md-icon></md-button>
				</md-menu-content>
			</md-menu>
				|
			<md-button ng-click="clipboard.cut(model)" title="{{'Cut' | goT}}">
				<md-icon>content_cut</md-icon>
			</md-button>
			<md-button ng-click="clipboard.copy(model)" title="{{'Copy' | goT}}">
				<md-icon>content_copy</md-icon>
			</md-button>
			<md-button ng-disabled="clipboard.isEmpty()" ng-click="clipboard.paste(model)" title="{{'Paste' | goT}}">
				<md-icon>content_paste</md-icon>
			</md-button>

			|
			
			<md-button>
				<md-icon>search</md-icon>
			</md-button>
			<md-button ng-if="browser.isGrid()" ng-click="browser.setDisplay('list')" >
				<md-icon>view_list</md-icon>
			</md-button>
			<md-button ng-if="browser.isList()" ng-click="browser.setDisplay('grid')">
				<md-icon>view_module</md-icon>
			</md-button>
			<md-button title="{{'Refresh'| goT}}" ng-click="nodeStore.reload()">
				<md-icon>refresh</md-icon>
			</md-button>


	</md-nav-bar>


		<div flex class="go-cards-sm" layout="row"
			flow-files-submitted="$flow.upload()"
			flow-file-progress="onFileProgress($file, $flow)"
			flow-files-added="onAddFiles($files, $event, $flow)"
			flow-file-success="uploadSuccess($file, $message)"
			flow-complete="uploadCommit()"
			flow-drop>

			<div id="file-list-view" flex class="go-card go-list" ng-if="browser.isList()" ng-include="'modules/groupoffice/files/views/list-view.html'"></div>
			<div id="file-grid-view" flex  ng-if="browser.isGrid()" ng-include="'modules/groupoffice/files/views/grid-view.html'"></div>

		</div>

		<md-list track-by="path" index="name">
			<md-list-item style="min-height:47px" layout="row" layout-align="start center" ng-repeat="file in $flow.files" class="attachment" ng-if="file.isUploading()">
					<span flex>{{file.name}}</span>
					<md-progress-circular md-mode="indeterminate" md-diameter="18"></md-progress-circular>
					<md-icon class="cancel" ng-click="file.cancel()">cancel</md-icon>
					<go-progress value="file.progress()" max="1"></go-progress>
			</md-list-item>
		</md-list>

		<md-fab-speed-dial md-direction="up" class="md-fling md-fab-bottom-right">
			<md-fab-trigger>
				<md-button aria-label="menu" class="md-fab">
					<md-icon>file_upload</md-icon>
					<md-tooltip md-direction="left">{{::"Upload"| goT}}</md-tooltip>
				</md-button>
			</md-fab-trigger>
			<md-fab-actions>
				<md-button flow-btn aria-label="Files" class="md-fab md-mini">
					<md-icon>insert_drive_file</md-icon>
				</md-button>
				<md-button flow-btn flow-directory aria-label="Folder" class="md-fab md-mini">
					<md-icon>folder</md-icon>
				</md-button>
			</md-fab-actions>
		</md-fab-speed-dial>

	</md-content>
	<div>
	<md-content ui-view layout="column" md-whiteframe="1" class="go-info-panel" style="width:390px;">
		<div class="empty-state">
			<md-icon>insert_drive_file</md-icon>
			<p>No file selected</p>
		</div>
	</md-content>
	</div>