<md-list track-by="path" index="name" flex>

	<md-list-item style="min-height:47px" layout="row" layout-align="start center" ng-repeat="file in $flow.files" class="attachment" ng-if="file.isUploading()">
		<span flex>{{file.name}}</span>
		<md-progress-circular md-mode="indeterminate" md-diameter="18"></md-progress-circular>
		<md-icon class="cancel" ng-click="file.cancel()">cancel</md-icon>
		<go-progress value="file.progress()" max="1"></go-progress>
	</md-list-item>

	<md-list-item ng-repeat="model in nodeStore.items"  class="md-2-line" ng-click="selectNode(model)">

		<md-icon ng-if="!model.isImage()">{{model.getIcon()}}</md-icon>
		<img ng-if="model.isImage()" class="md-avatar" ng-src="{{thumb(model.blobId)}}" />
		<div class="md-list-item-text">
			<h3>{{model.name}}</h3>
			
		</div>
		<div class="md-list-item-text">{{model.owner.username}}</div>
		<div>{{model.blob.size | bytes}}</div>

	</md-list-item>

	<md-list-item ng-show="!nodeStore.items.length">
		<md-icon>folder</md-icon>
		<p>{{"No data found"| goT}}</p>
	</md-list-item>
</md-list>