<div class="go-card go-listview" go-infinite-scroll="nodeStore.nextPage()" layout="column" style="top:0;bottom:0;left:0;right:0;position:absolute; overflow-y:scroll;">
<md-list>
	<div ng-repeat="model in nodeStore.items">

		<md-subheader ng-if="!nodeStore.items[$index - 1] || nodeStore.items[$index - 1].isDirectory != model.isDirectory">{{model.isDirectory?'Folders':'Files'}}</md-subheader>

		<md-list-item ui-sref="files.list.node({id: model.id})">

			<div  class="md-list-item-text" layout="row" flex layout-wrap>
				<div class="md-avatar">
					<md-icon style="padding:8px 0 0 5px;" ng-if="!model.isImage()">{{model.getIcon()}}</md-icon>
					<img ng-if="model.isImage()" class="md-avatar" ng-src="{{thumb(model.blobId)}}" />
				</div>
				<h4 flex>{{model.name}}</h4>
				<p flex="20" class="go-ellipsis">{{model.owner.name}}</p>
				<p style="width:60px; text-align:right;">{{model.size | bytes}}</p>
				<p style="width:60px; text-align:right;"><md-icon>{{model.nodeUser.starred ? 'star' : 'star_border' }}</md-icon></p>
			</div>
		</md-list-item>
		
	</div>
	<div class="empty-state" ng-show="!nodeStore.items.length">
		<md-icon>folder</md-icon>
		<p>{{"No data found"| goT}}</p>
	</div>

</md-list>
</div>