<go-hook flow-init="flowInit" name="files" flex layout="row">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		
		<md-list>
			<md-list-item ng-class="{'selected' : browser.isAt('d'+browser.home.id)}" ng-disabled="!browser.home" ui-sref="files.list.node({filter:'home', id:browser.home.rootId})">
				<md-icon>home</md-icon>
				<p>Home</p>
				<md-button class="md-secondary md-icon-button" ng-click="editDrive('home')"><md-icon>settings</md-icon></md-button>
			</md-list-item>
			<md-list-item ng-class="{'selected' : browser.at == 'starred'}" ui-sref="files.list({filter:'starred'})">
				<md-icon>star_rate</md-icon>
				<p>Starred</p>
			</md-list-item>
			<md-list-item ng-class="{'selected' : browser.at == 'recent'}" ui-sref="files.list({filter:'recent'})">
				<md-icon>access_time</md-icon>
				<p>Recent</p>
			</md-list-item>
<!--
			<md-list-item ng-click="browser.filter({type: 1})">
				<md-icon>insert_drive_file</md-icon>
				<p>Documents</p>
			</md-list-item>
			<md-list-item ng-click="browser.filter({type: 2})">
				<md-icon>collections</md-icon>
				<p>Images</p>
			</md-list-item>
			<md-list-item ng-click="browser.filter({type: 3})">
				<md-icon>videocam</md-icon>
				<p>Media</p>
			</md-list-item>
-->
			<md-list-item ng-class="{'selected' : browser.at == 'trash'}" ui-sref="files.list({filter:'trash'})">
				<md-icon>delete</md-icon>
				<p>Trash</p>
			</md-list-item>

			<md-divider></md-divider>

			<md-list-item ng-class="{'selected' : browser.isAt('d'+drive.id)}"
				ng-repeat="drive in mountStore.items| filter: { rootId: '!'+browser.home.rootId }"
				ui-sref="files.list.node({id:drive.rootId, filter:'home'})">
				<md-icon>folder_shared</md-icon>
				<p>{{drive.name}}</p>
			</md-list-item>

			<md-list-item ng-if="::permissions.mountDrives" ng-class="{'selected' : browser.isAt('locations')}" ui-sref="files.locations" ng-click="browser.at = 'locations'">
				<md-icon>add</md-icon>
				<p>Locations</p>
			</md-list-item>

			<md-divider></md-divider>

			<md-list-item ng-repeat="starredFolder in starredFolder.items" ng-click="selectNode(starredFolder)">
				<md-icon>folder_special</md-icon>
				<p>{{starredFolder.name}}</p>
			</md-list-item>
		</md-list>
	</md-sidenav>

	<md-content flex ui-view layout="row">
		
	</md-content>
	
</go-hook>
