
<md-toolbar class="md-tall">
	
</md-toolbar>

<img class="go-logo-full" style='position:absolute;top:40px;left:40px;z-index:4' src="resources/groupoffice-logo-full.png" />

<form name="loginForm" go-submit="resetPassword()" go-server-errors="user.validationErrors" role="form" novalidate="" layout="row" layout-align="center center" flex>

<md-card style="width:600px;margin-top:-72px;z-index:4">
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">{{"Reset your password"| goT}}</span>
			<span class="md-subhead">{{::"Please create a new password" | goT}}</span>			
		</md-card-title-text>
	</md-card-title>	
	<md-card-contents class="md-padding">	

		<md-input-container class="md-block">
			<md-icon>lock</md-icon>
			<label for="password">{{::"Password"| goT}}</label>
			<input id="password" name="password" type="password" ng-model="user.password" required>
			<div ng-messages="loginForm.password.$error" role="alert">
				<div ng-message="required">
					{{::"This field is required"| goT}}
				</div>
			</div>
		</md-input-container>

		
		<md-input-container  class="md-block">
			<md-icon>lock</md-icon>
			<label>{{::"Confirm password"| goT}}</label>
			<input type="password" go-match="user.password" ng-model="passwordConfirm" name="passwordConfirm">
			<div ng-messages="loginForm.passwordConfirm.$error" role="alert">
				<div ng-message="goMatch">
					{{::"The passwords don't match" | goT}}
				</div>
			</div>
		</md-input-container>
	</md-card-contents>
	<md-card-actions layout="row">
			<span flex></span>
			<md-button class="" ng-click="$state.go('login');">{{'Cancel'| goT}}</md-button>
			<md-button class="md-accent md-raised" type="submit">{{'Ok'| goT}}</md-button>
		</md-card-actions>
</md-card>
</form>
